{% extends "account/_base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block body %}
<div ayout="row" style="margin-top: 15ex">
  <div flex="33"></div>
  <div flex layout="column">
    <md-whiteframe flex class="box-container md-whiteframe-z2" layout="column" layout-margin>
      <md-toolbar class="box-toolbar md-hue-3">
        <h1 class="md-toolbar-tools">
          <span class="md-flex" layout layout-fill layout-align="start center">
            {% trans "Confirm E-mail Address" %}
          </span>
        </h1>
      </md-toolbar>
      <md-content layout-padding>
        {% if confirmation %}
          <p>
            {% blocktrans with confirmation.email_address.email as email %}
            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
            {% endblocktrans %}
          </p>
          <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit">{% trans 'Confirm' %}</button>
          </form>
        {% else %}
          {% url 'account_email' as email_url %}
          <p>
            {% blocktrans %}
            This e-mail confirmation link has expired or is invalid. Please <a href="{{ email_url }}">generate a new e-mail confirmation request</a>.
            {% endblocktrans %}
          </p>
        {% endif %}
      </md-content>
    </md-whiteframe>
  </div>
  <div flex="33"></div>
</div>

